.js-form input, .js-form select, .js-form textarea, .js-form label, .js-form button {
	font: 400 18px/1.5 Helvetica;
}
.js-form fieldset {
	border: none;
	padding: 0;
}
.js-form textarea, .js-form input {
	background-color: var(--theme)
}
.js-form .textfield {
	max-width: 100%;
	padding: 0.5rem 0;
}
.js-form .narrowfield {
	width: 420px;
}
.js-form .hp {
	display: none;
}
.js-form textarea {
	vertical-align: top;
}
.js-form .textfield__input {
	border: 1px solid var(--border);
	padding: 4px 5px;
	width: 100%;
	font-size: 15.75px;
	color:var(--primary);
}
.js-form .notify-me, .js-form .g-recaptcha {
	padding: 0.5rem 0;
}
.js-form .button {
	background: rgba(158, 158, 158, .2);
	box-shadow: 0 2px 2px 2px rgba(0, 0, 0, .14);
	border: none;
	border-radius: 2px;
	padding: 4px 8px;
	overflow: hidden;
	cursor: pointer;
	-webkit-transition-duration: 0.4s;
	transition-duration: 0.4s;
	margin: 4px 0px 0px 0px;
}
.js-form button:hover {
	background-color: -var(--hljs-bg);
	color: -var(--content);
}