<section class="comment_form">
  {{ $temp := (replace .RelPermalink "/" "") | replaceRE `^([1-2][0-9])\d\d(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])` "" }}
  {{ $temp2 := .File.BaseFileName }}
  {{ if eq .File.BaseFileName "index" }}
    {{ $.Scratch.Add "post_parent" $temp }}
  {{ else }}
    {{ $.Scratch.Add "post_parent" $temp2 }}
  {{ end }}

  <a id="comment-form"></a>
  <h2>Say something</h2>
  <hr>
  <form class="js-form form" method="POST" action="{{ .Site.Params.staticman_api }}">
    <input type="hidden" name="options[redirect]" value="{{ .Permalink }}#post-submitted">
    <input type="hidden" name="options[redirectError]" value="{{ .Permalink }}#post-error">
    <input type="hidden" name="options[entryId]" value="{{ $.Scratch.Get "post_parent" }}">
    <input type="hidden" name="options[slug]" value="{{ .Permalink }}">
    <input type="hidden" name="options[origin]" value="{{ .Permalink }}">
    <input type="hidden" name="options[parent]" value="{{ $.Scratch.Get "post_parent" }}">
    <input type="hidden" name="fields[reply_to]" value="">

    <fieldset>
      <input name="fields[name]" type="text" class="post-comment-field comment-area" placeholder="Your Name (required)">
    </fieldset>

    <fieldset>
      <input name="fields[email]" type="email" class="post-comment-field comment-area" placeholder="Your Email (optional)">
    </fieldset>

    <fieldset>
      <textarea name="fields[body]" class="post-comment-field comment-area" placeholder="Markdown Accepted" rows="10"></textarea>
    </fieldset>

    <fieldset>
      <input type="submit" class="post-comment-field btn" value="Submit" id="submit_button">
      <input type="reset" class="post-comment-field btn btn-info" value="Reset">
    </fieldset>

  </form>


  
  <script type="text/javascript">
    function enableBtn(){
       document.getElementById("submit_button").disabled = false;
      }
  </script>

  <div id="post-submitted" class="dialog">
    <h3>Thank you</h3>
    <p>Your post has been submitted and will be published once it has been approved.</p>
    {{ if (.Site.Params.githubPullURL) }}
      <p><a href="{{ .Site.Params.githubPullURL }}">Click here</a> to see the pull request you generated.</p>
    {{ end }}
    <p><a href="{{ .Permalink | absURL }}" class="btn">OK</a></p>
  </div>

  <div id="post-error" class="dialog">
    <h3>OOPS!</h3>
    <p>Your post has not been submitted.  Please return to the page and try again.  Thank You!</p>
    <p>If this error persists, please open an issue by <a href="{{ .Site.Params.githubIssuesURL }}"> clicking here</a>.</p>
    <p><a href="{{ .Permalink | absURL }}" class="btn">OK</a></p>
  </div> 

</section>