<section class="page__comments comments post-comments">
  <h2>Comments</h2>

  {{ $.Scratch.Add "hasComments" 0 }}
  {{ $entryId := .File.BaseFileName }}
  <div class = "comments__existing">
  {{ range $index, $comments := (index $.Site.Data.comments $entryId ) }}
    {{ $.Scratch.Add "hasComments" 1 }}
    {{ if not .replying_to_uid }}
      <div class="post-comment">
        <div class="post-comment-header">
          <div class="comment__author">
              {{if eq "Syed Zayyan Masud" .name}}
                <span class="comment__admin_tag">Author</span>
                <span>{{ .name }}</span>        
                {{ else }}
                <span>{{ .name }}</span>
              {{ end }}
             <span class="comment__date"><br>{{ dateFormat "Monday, Jan 2, 2006" .date }}</span>
          </div>
        <div>
        <div class="comment__body">
        {{ .message | markdownify }}
        </div>
      </div>
      <div class="comment__meta">
        <a id="{{ ._id }}" class="btn-info" href="#comment-form" onclick="changeValue('fields[reply_to]', '{{ ._id }}')">↪&#xFE0E; Reply to {{ .name }}</a>
      <hr>
      </div>
      {{ partial "comment-replies" (dict "entryId_parent" $entryId "SiteDataComments_parent" $.Site.Data.comments "parentId" ._id "parentName" .name "context" .) }}
    {{ end }}
  {{ end }}
  </div>

  {{ if eq ($.Scratch.Get "hasComments") 0 }}
    <p>Nothing yet.</p>
  {{ end }}
</section>

<script>
function changeValue(elementName, newValue){
  document.getElementsByName(elementName)[0].value=newValue;
};
</script>